<dx-data-grid [dataSource]="dataSource" [remoteOperations]="true" [showBorders]="true"
    (onRowUpdating)="onRowUpdating($event)" (onRowInserting)="onRowInserting($event)">
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="false"></dxo-group-panel>
    <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
    </dxo-editing>
    <dxi-column dataField="title" dataType="string">
    </dxi-column>
    <dxi-column dataField="firstName" dataType="string">
    </dxi-column>
    <dxi-column dataField="lastName" dataType="string">
    </dxi-column>
    <dxi-column dataField="position" dataType="string">
    </dxi-column>
    <dxi-column dataField="hireDate" dataType="date">
    </dxi-column>
    <dxi-column dataField="birthDate" dataType="date">
    </dxi-column>
    <dxi-column dataField="notes" dataType="string">
    </dxi-column>
    <dxi-column dataField="address" dataType="string">
    </dxi-column>
    <dxi-column dataField="countryCode" dataType="string">
        <dxo-lookup [dataSource]="countryDataSource" valueExpr="code" displayExpr="definition"></dxo-lookup>
    </dxi-column>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>
</dx-data-grid>